body {
    background: plum;
    text-align: center;
}

h1 {
    color: red;
    font-size: 200px;
}

p {
    color: black;
    font-size: 100px;
    text-align: center;

}
/*
img{
    background-color: red;
}
*/
.dog{
    background-color: red;
}
.broccoli {
    background-color: black;
}
.circular {
    border-radius: 100%;
}

#heading {
    color: blue;
}
#big {
    font-size: 100%;
}